body {
    min-height: 100vh;
    margin:0;
    padding:0;
}


.footer, .contentOne {
    display: flex;
    justify-content: space-between;
    background-color: #2e3c52;
    padding: 10px 166px;
}

#right-links {
    display: flex;
    gap: 18px;
}

.right {
    background: #eee;
    text-align: center;
    width: 300px;
}

h2 {
    font-size: 48px;
    color: #F9FAF8;
}
a {
    text-decoration: none;
    color: #F9FAF8;
}