body {
    min-height: 100vh;
    margin:0;
    padding:0;
}


.footer, .contentOne {
    display: flex;
    justify-content: space-between;
    background-color: #2e3c52;
    padding: 10px 166px;
}

#right-links {
    display: flex;
    gap: 18px;
}

.contentOne {
    display: flex;
    justify-content: space-between;
}

.contentOne > .left {
    display: flex;
    flex-direction: column;
}

#textHeader {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.btn {
    background-color: #3882F6;
    width: 100px;
    padding: 6px;
}

.placeholder {
    display: flex;
    background: #eee;
    width: 300px;
}

.placeholder > h4 {
    align-self: center;
    text-align: center;
    width: 100%;
}

h2 {
    font-size: 48px;
    color: #F9FAF8;
}
a {
    text-decoration: none;
    color: #F9FAF8;
}