body {
    min-height: 100vh;
    margin:0;
    padding:0;
}


.header, .contentOne {
    display: flex;
    justify-content: space-between;
    background-color: #2e3c52;
    padding: 20px 166px;
}

.contentTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 166px;
}

.mainContent {
    display: flex;
    justify-content: center;
    gap: 36px;

}

.squareOne {
    align-items: center;
    text-align: center;
}

.holder {
    height: 100px;
    width: 100px;
    border-radius: 8px;
    border: 4px solid blue ;
}

#right-links {
    display: flex;
    gap: 18px;
}

.contentOne {
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
}

.contentOne > .left {
    display: flex;
    flex-direction: column;
}

#textHeader {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.squareOne {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #3882F6;
    width: 100px;
    padding: 6px;
    border: none;
    color: white;
    border-radius: 8px;
}

.placeholder {
    display: flex;
    background: #eee;
    width: 300px;
}

.placeholder > h4 {
    align-self: center;
    text-align: center;
    width: 100%;
    color: black;
}

h2 {
    font-size: 48px;
    color: #F9FAF8;
}

h3 {
    text-align: center;
}
a {
    text-decoration: none;
    color: #F9FAF8;
}